---
layout: post-index
permalink: /groups/
title: ricettario
description: "L'archivio dei post ordinato per categoria."
exclude_from_search: true
---

<ul class="entry-meta inline-list">
{% for group in site.data.groups %}
    <li><a href="#{{ group[0] }}" class="tag">{{ group[0] }}</a></li>
{% endfor %}
</ul>

{% for group in site.data.groups %}
	<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 id="{{ group[0] }}">{{ group[0] }}</h2>
		<ul>
		{% assign tags_list = group[1] %}
		{% for t in tags_list %}
      {% for tag in site.tags %}
        {% if tag[0] == t %}
        {% assign pages_list = tag[1] %}
    		{% for post in pages_list %}
    			{% if post.title != null %}
    				<li class="entry-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></li>
    			{% endif %}
    		{% endfor %}
    		{% assign pages_list = nil %}
        {% endif %}
      {% endfor %}
      {% assign t = nil %}
    {% endfor %}
		{% assign tags_list = nil %}
		{% assign group = nil %}
		</ul>
	</article><!-- /.hentry -->
{% endfor %}
