---
layout: post-index
permalink: /groups/
title: categorie
description: "L'archivio dei post ordinato per categoria."
exclude_from_search: true
---

<ul class="entry-meta inline-list">
{% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
      {% if tags_list contains "aperitivo" or tags_list contains "dolci" or tags_list contains "primo" or tags_list contains "vegan" %}
    	  <li><a href="#{{ tag }}" class="tag">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      {% if tag contains "aperitivo" or tag contains "dolci" or tag contains "primo" or tag contains "vegan" %}
        <li><a href="#{{ tag[0] }}" class="tag">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
      {% endif %}
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

{% for tag in site.tags %}
  {% if tag contains "aperitivo" or tag contains "dolci" or tag contains "primo" or tag contains "vegan" %}
  	<article class="hentry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  	<h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  		<ul>
  		{% assign pages_list = tag[1] %}
  		{% for post in pages_list %}
  			{% if post.title != null %}
  			{% if group == null or group == post.group %}
  				<li class="entry-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></li>
  			{% endif %}
  			{% endif %}
  		{% endfor %}
  		{% assign pages_list = nil %}
  		{% assign group = nil %}
  		</ul>
  	</article><!-- /.hentry -->
  {% endif %}
{% endfor %}
